<h1 class = "text-primary">product details</h1>
<p></p>
<div class="row">
  <div class= "col-sm-6 col-lg-3">
  <img src="{{prod.product.image_small_url}}">
  </div>
  <div class="col-sm-8 col-lg-4">
    <div *ngIf ="prod.product.generic_name">
      <h5><b>{{prod.product.generic_name}}</b></h5>
    </div>
    <div *ngIf = "!prod.product.generic_name">
      <h5><b>{{prod.product.product_name}}</b></h5>
    </div>
    <p><b>quantity: </b>{{prod.product.product_quantity}} g</p>
    <p><b>Packaging: </b>{{prod.product.packaging}}</p>
    <p><b>Brand: </b>{{prod.product.brands}}</p>
    <p><b>Categories: </b>{{prod.product.categories}}</p>
  </div>
</div>
<a class = "btn btn-primary" (click)="back()">Back</a>
